body{
    height: 100vh;
}

#header{
    text-align: center!important;
}

.page-title{
    display: inline;
}

body{
    background-color: white;
}

.nav-link{
    font-size: 30px;
    color:black;
    display: inline!important;
}

.navbar-laravel {
    -webkit-box-shadow: none;
    box-shadow: none
}

.navbar-expand-lg{
    position: absolute;
    top: 1vh;
    left: 41vw;
}

.content-holder{
    /* text-align: center; */
    padding: 50px;
}

.client-pm{
    padding-left: 50px;
}

.client-name{
    padding-left: 20px;
}

th{
    font-size: 17px;
    padding-right: 15px;
    background-color: #F3D000;
}

.title-list{
    font-size: 17px;
    margin: 0 auto;
    background-color: #F3D000;
    padding: 5px;
}

.title-list-element{
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
}

.inner-list-element{
    display: inline;
}

.url{
    float: left;
}

.icon{
    float: right!important;
}

.inner-list{
    padding-top: 10px;
    padding-bottom: 10px;
}

.fas{
    font-size: 16px;
    color: black;
    background-color: #F3D000;
    border-radius: 50%;
    border: none!important;
    padding: 7px;  
    transition: all 0.3s;
}

.fas:hover{
    opacity: 0.8;
}

table{
    margin:0 auto;
}

.tr-table{
    border-bottom:1px solid black;
    line-height: 40px;
}

tbody{
    text-align: left;
}

td{
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}

.add{
    text-align: center;
}

#filter {
    margin: 0 auto;
    text-align: center;
    width: 40%;
    border: 1px solid grey;
    margin-top: 60px;
    display: inline;
    
}

.form-control{
    border-radius: 0%;
}

.form-group {
    text-align: center;
}

.jobs-page{
    font-size: 15px!important;
}


.close-btn:hover{
    opacity: 1.0!important;
}

.close-btn:hover{
    opacity: 1.0!important;
}

.modal-content {
    border-radius: 0;
    text-align: left;
    
}

#button-content{
    font-weight: 400!important;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background-color: #F3D000;
    color:black;
  }

  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    font-size: 15px;
    line-height: 1.33;
    border-radius: 35px;
  }


  button:disabled,
  button[disabled]{
  border: 1px solid #999999;
  background-color: white!important;
  border-color: #F3D000;
}

.router-link-active{
    background-color: #F3D000;
    border-radius: 20px;
}

a{
    color: black!important;
}

.center{
    text-align: center!important;
}


.modalnew {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.fas{
    cursor: pointer;
}

.log-row{
    display: block;
}

 
.openLeft{
    /* width: 0%; */
    height: 80vh!important;
    background-color: #fefefe;
    z-index: 100;
    top: -8px;
    position: absolute;
}

.domainClick{
    cursor: pointer;
}

.row-header{
    background-color: #F3D000;
    height: 200px;
    text-align: center;
    
}

.closebutton{
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 2%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
    font-weight: 300!important;
    font-size: 50px!important;
  }

  .row-body{
      height: 190px;
      margin-bottom:10px;
      margin-top:10px;
      text-align: left;
      background-color: #fefbd8;
      padding: 40px;
  }

  .header-content-wrapper{
    padding: 50px;
  }

  #logo{
    width: 150px;
    float: right;
  }

  .fa-question{
      background-color: #fefefe;
  }

  footer{
    background-color: white; 
    position: fixed!important;
    bottom: 0%!important;
    padding-left: 160px;
    padding-right: 160px;
    margin-top: 20vh;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .right img{
    width: 150px;
  }

 .no-log-row{
     padding-top: 100px;
     padding-right: 100px;
 }

 .left-align{
     text-align: left;
 }

 .loading-image{
     z-index: 300;
     position: fixed;
     top: 35%;
    left: 45vw;
        margin-left: -100px;
        margin-top: -93px;
        border-radius: 1em;
 }

tr{
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
    cursor: pointer;
}
 tr:hover{
    background-color: whitesmoke;
 }

 .log-detail-window{
     width: 40vw;
     height: 40vh;
     background-color: white;
     z-index: 400;
     position: absolute;
     border-radius: 10px;
     top: 19%;
    left: 30%;
    padding: 30px;
 }

 .edit-detail-window {
    width: 40vw;
    height: 50vh;
    background-color: white;
    z-index: 400;
    position: absolute;
    border-radius: 10px;
    top: 19%;
    left: 30%;
    padding: 30px;
}

 #overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.3);
  }

  #show-detail-modal-body{
      text-align: left;
  }

  .fa-edit, .fa-trash-alt{
      background: none!important;
  }

  #form-check-login{
    text-align: left;
}



/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
    .row-header{
        width: 144%;
        margin-left: -26%;
    }
    .left{
        float:left;
        /* position: absolute; */
    }
    .right{
        float:right;
        /* position: absolute; */
    }
    
}





